body {
  color: #333;
  padding: 10px 25px;
  font-size: 14px;
  font-family: sans-serif;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 13px;
}

a {
  color: #06c;
}

a:hover {
  text-decoration: none;
}

pre {
  font-family: "Courier New", monospace;
}

th {
  text-align: left;
}

.headernotes {
  margin: 0;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #c99;
  border-radius: 4px;
  color: #800;
  background-color: #fff5f5;
  font-size: 13px;
}

.headernotes p {
  margin: 10px 0;
}

.headernotes em {
  font-style :normal;
  font-weight :bold;
}

.headernotes .meta dt {
  width: 4em;
  float: left;
  clear: left;
  font-weight: normal;
}

#head h1 {
  font-size: 24px;
}

#toc {
  padding: 3px 20px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 13px;
}

#toc h2 {
  font-size: 15px;
}

#toc ol {
  padding-left: 0;
  list-style: none;
}

#toc ol ol {
  padding-left: 20px;
  list-style: none;
}

.section {
  padding: 10px 0 0;
}