body {
  color: #333;
  padding: 10px 25px;
  font-size: 14px;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 13px;
}

a {
  color: #06c;
}

a:hover {
  text-decoration: none;
}

pre {
  font-family: "Courier New", monospace;
}

.headernotes {
  margin: 0;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #c99;
  border-radius: 4px;
  color: #800;
  background-color: #fff5f5;
  font-size: 13px;
}

.headernotes p {
  margin: 10px 0;
}

.headernotes em {
  font-style :normal;
  font-weight :bold;
}

.headernotes .meta dt {
  width: 4em;
  float: left;
  clear: left;
  font-weight: normal;
}

#head h1 {
  font-size: 24px;
}

#head p {
  margin: -8px 0 0 0;
  font-size: 15px;
}

#toc {
  border-top: 1px solid #ccc;
  margin: 30px 0 0;
  padding: 12px 0 0;
}

#toc ul {
  padding-left: 0;
  list-style: none;
}

#toc ul ul {
  padding-left: 20px;
  list-style: none;
}

.section {
  padding: 10px 0 0;
  word-wrap: break-word;
}

.section dl dt {
  font-weight: bold;
}

.section dl dd {
  padding: 0 0 10px;
}

.section dl dd p {
  margin: 5px 0 10px;
}

.section pre {
  padding-left: 20px;
}

.section .note {
  padding-left: 20px;
}

@media screen and (max-width:320px) {
  .section pre {
    padding-left: 0;
    font-size: 6px;
  }
}